
<table width="100%"  alignt="left" position="absolute"  style="font-family:verdana;font-size:10px"  >
<colgroup>
<col  style="width: 180px">
</colgroup>
<thead>
  <tr >
    <td   rowspan="5">
    <img  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQG0LSU20JCX7v7iAIc0FrPRJOloXv20rr1ZRV2DE6IuDXZwVc5Vf9awP7-mfHQXQl7BSI&usqp=CAU" alt="drawing" style="width:180px;"/>
    </td>
    <td style="font-size:10px" ><b>Universidad Internacional de Valencia</b></td>
  </tr>
  <tr>
    <td  style="font-size:9px"><b>Maestria en Big Data y Ciencia de Datos</b></td>
  </tr>
  <tr  style="font-size:9px">
    <td  >Minería de Datos - 2022</td>
  </tr>
  <tr  style="font-size:9px">
    <td  >Enrique Abraham Magnani Quiñonez</td>
  </tr>
  
</thead>
</table>

In [1]:
import numpy as np # librería para manejar datos vectorizados
import warnings
import pandas as pd # librería para análisis de datos
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.colors as colors
import matplotlib as mpl
import json # librería para manejar archivos JSON 
from sklearn.preprocessing import MinMaxScaler
from pandas.io.json import json_normalize # librería para convertir un archivo json en un dataframe pandas

#descomentar durante el desarrollo
warnings.filterwarnings("ignore")
print('Librerias importadas.')

Librerias importadas.

### Funciones

Carga via **Github** DataSet de datos transaccionales

In [2]:
#Carga de data transaccional
def fn_data_df_transacciones():
    try:
        url_df_data_tarjeta='https://github.com/i3nriq/VIU_MineriadeDatos/blob/f0bc3c6aedda3082e55a6cd74336e9002a4cb591/Data/DS_Data_TJT.csv?raw=true'
        import_df_data_tarjeta = pd.read_csv(url_df_data_tarjeta, encoding='latin-1')
        print('Carga via Github..')
    except:
        print('Datos no cargados..')
        import_df_data_tarjeta= None
    return(import_df_data_tarjeta)

Carga via **Github** DataSet de MCG.

In [3]:
#Carga de data MCG
def fn_data_df_mcg():
    try:
        url_df_data_mcg='https://github.com/i3nriq/VIU_MineriadeDatos/blob/main/Data/DS_MCC_MCG.csv?raw=true'
        import_df_data_mcg = pd.read_csv(url_df_data_mcg, encoding='latin-1')
        print('Carga via Github..')
    except:
        print('Datos no cargados..')
        import_df_data_mcg= None
    return(import_df_data_mcg)

Carga via **Github** DataSet de rangos de edades.

In [4]:
#Carga de data MCG
def fn_data_df_rango_edad():
    try:
        url_df_data_rango_edad='https://github.com/i3nriq/VIU_MineriadeDatos/blob/main/Data/DS_RAN_EDAD.csv?raw=true'
        import_df_data_rango_edad = pd.read_csv(url_df_data_rango_edad, encoding='latin-1')
        print('Carga via Github..')
    except:
        print('Datos no cargados..')
        import_df_data_rango_edad= None
    return(import_df_data_rango_edad)

Top de catagorias MCG

In [5]:
def retornat_top_mcg(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    return row_categories_sorted.index.values[0:num_top_venues]

Analisis de DataFrame

In [6]:
def fn_descripcion_dataFrame(i_df_desc):
    print("Dimensiones dataframe: ",i_df_desc.shape)
    print("")
    print(i_df_desc.dtypes)

## Variables globales

#### Parametros

In [7]:
json_prioridad_metal='{"BLACK":"1","INFINITE":"2","SIGNATURE":"3","PLATINUM":"4","ORO":"5","CLASICA":"6"}'

# Carga de datos

In [8]:
#df_categorias_config=pd.merge(df_categorias_config, ( pd.DataFrame (abc_series, columns = ['Caracter'])), left_index=True, right_index=True)
json_prioridad_metal = json.loads(json_prioridad_metal)

df_prioridad_metal = pd.DataFrame.from_dict(json_prioridad_metal, orient="index")
df_prioridad_metal.rename(columns={0:'IND_PRIORIDAD'},inplace=True)

df_prioridad_metal.index.name = 'METAL_TJT'
df_prioridad_metal.reset_index(inplace=True)

Data de transaccion de **VISA**

In [9]:
df_data_tarjeta=fn_data_df_transacciones()

Carga via Github..

Data de catalogos

In [10]:
df_data_mcg=fn_data_df_mcg()

Carga via Github..

In [11]:
df_data_df_rango_edad=fn_data_df_rango_edad()

Carga via Github..

In [12]:
fn_descripcion_dataFrame(df_data_tarjeta)
df_data_tarjeta.head()

Dimensiones dataframe:  (100000, 12)

C_RN                         int64
CL_RN                        int64
LIM_CREDITO                float64
FEC_COSECHA                 object
ESTADO_CIVIL                object
METAL_TJT                   object
FECHA_NACIMIENTO            object
PAGO_CONTADO                object
DETALLE_MOVIMIENTO_VISA     object
TIPO_RUBRO                   int64
FECHA_REAL_MOV              object
COD_MORA                     int64
dtype: object

,C_RN,CL_RN,LIM_CREDITO,FEC_COSECHA,ESTADO_CIVIL,METAL_TJT,FECHA_NACIMIENTO,PAGO_CONTADO,DETALLE_MOVIMIENTO_VISA,TIPO_RUBRO,FECHA_REAL_MOV,COD_MORA
0,8521,10578,16496.0,26/11/2020,S,PLATINUM,21/5/1990,S,9175611342IRISH RAIL CORK BOOKI -MTRX:[10.91]...,4789,30/4/2022 04:51,0
1,8521,10578,16496.0,26/11/2020,S,PLATINUM,21/5/1990,S,9175616026TITANIC EXPERIENCE COBH -MTRX:[4.31]...,7991,30/4/2022 07:14,0
2,8521,10578,16496.0,26/11/2020,S,PLATINUM,21/5/1990,S,9175628866MCDONALDS 7007 -MTRX:[4.80]-FDTRX[84...,5814,30/4/2022 09:35,0
3,8521,10578,16496.0,26/11/2020,S,PLATINUM,21/5/1990,S,9175631041MCDONALDS 7007 -MTRX:[2.95]-FDTRX[84...,5814,30/4/2022 09:51,0
4,8521,10578,16496.0,26/11/2020,S,PLATINUM,21/5/1990,S,9175608233MCDONALDS7017 -MTRX:[7.10]-FDTRX[840...,5814,30/4/2022 00:29,0

In [13]:
fn_descripcion_dataFrame(df_data_mcg)

Dimensiones dataframe:  (282, 3)

TIPO_RUBRO          int64
DESC_MCC           object
DESCRIPCION_MCG    object
dtype: object

In [14]:
fn_descripcion_dataFrame(df_data_df_rango_edad)

Dimensiones dataframe:  (14, 4)

COD_RANGO_EDAD     int64
DES_RANGO_EDAD    object
RANGO_INI          int64
RANGO_FIN          int64
dtype: object

Extraer datos de la transaccion de VISA

In [15]:
df_data_tarjeta['DETALLE_MOVIMIENTO_VISA'] = df_data_tarjeta['DETALLE_MOVIMIENTO_VISA'].str.replace('[', '>>')
df_data_tarjeta['DETALLE_MOVIMIENTO_VISA'] = df_data_tarjeta['DETALLE_MOVIMIENTO_VISA'].str.replace(']', '<<')

pattern = '|'.join(['THTRX>>','<<-THTR','<<-FDTRX','MTRX:>>','FDTRX>>', '<<'])

df_data_tarjeta['MONTO_TRX']=df_data_tarjeta['DETALLE_MOVIMIENTO_VISA'].str.extract(r'(?P<DETALLE_MOVIMIENTO_VISA>MTRX:>>.*.<<-FDTRX)')#.replace("RAIL","", inplace=True)
df_data_tarjeta['MONEDA_TRX']=df_data_tarjeta['DETALLE_MOVIMIENTO_VISA'].str.extract(r'(?P<DETALLE_MOVIMIENTO_VISA>FDTRX>>.*.<<-THTR)')#.replace("RAIL","", inplace=True)
df_data_tarjeta['TASA_TRX']=df_data_tarjeta['DETALLE_MOVIMIENTO_VISA'].str.extract(r'(?P<DETALLE_MOVIMIENTO_VISA>THTRX>>.*.<<)')

del df_data_tarjeta['DETALLE_MOVIMIENTO_VISA']

df_data_tarjeta['MONTO_TRX']=df_data_tarjeta['MONTO_TRX'].str.replace(pattern, '')
df_data_tarjeta['MONEDA_TRX']=df_data_tarjeta['MONEDA_TRX'].str.replace(pattern, '')
df_data_tarjeta['TASA_TRX']=df_data_tarjeta['TASA_TRX'].str.replace(pattern, '')

In [16]:
df_data_tarjeta[df_data_tarjeta['C_RN']==4285].head()

,C_RN,CL_RN,LIM_CREDITO,FEC_COSECHA,ESTADO_CIVIL,METAL_TJT,FECHA_NACIMIENTO,PAGO_CONTADO,TIPO_RUBRO,FECHA_REAL_MOV,COD_MORA,MONTO_TRX,MONEDA_TRX,TASA_TRX
1326,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5541,13/5/2022 21:14,0,567.76,320,7.66517
1327,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,3001,29/4/2022 20:39,0,33.32,840,7.66517
1328,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,3001,29/4/2022 00:00,0,NaN,NaN,NaN
1329,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,3001,29/4/2022 00:00,0,NaN,NaN,NaN
1330,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,3001,29/4/2022 20:31,0,177.57,840,7.66517

In [17]:
fn_descripcion_dataFrame(df_data_tarjeta)
df_data_tarjeta.head()

Dimensiones dataframe:  (100000, 14)

C_RN                  int64
CL_RN                 int64
LIM_CREDITO         float64
FEC_COSECHA          object
ESTADO_CIVIL         object
METAL_TJT            object
FECHA_NACIMIENTO     object
PAGO_CONTADO         object
TIPO_RUBRO            int64
FECHA_REAL_MOV       object
COD_MORA              int64
MONTO_TRX            object
MONEDA_TRX           object
TASA_TRX             object
dtype: object

,C_RN,CL_RN,LIM_CREDITO,FEC_COSECHA,ESTADO_CIVIL,METAL_TJT,FECHA_NACIMIENTO,PAGO_CONTADO,TIPO_RUBRO,FECHA_REAL_MOV,COD_MORA,MONTO_TRX,MONEDA_TRX,TASA_TRX
0,8521,10578,16496.0,26/11/2020,S,PLATINUM,21/5/1990,S,4789,30/4/2022 04:51,0,10.91,840,7.66517
1,8521,10578,16496.0,26/11/2020,S,PLATINUM,21/5/1990,S,7991,30/4/2022 07:14,0,4.31,840,7.66517
2,8521,10578,16496.0,26/11/2020,S,PLATINUM,21/5/1990,S,5814,30/4/2022 09:35,0,4.80,840,7.66517
3,8521,10578,16496.0,26/11/2020,S,PLATINUM,21/5/1990,S,5814,30/4/2022 09:51,0,2.95,840,7.66517
4,8521,10578,16496.0,26/11/2020,S,PLATINUM,21/5/1990,S,5814,30/4/2022 00:29,0,7.10,840,7.66517

## Valores perdidos

In [18]:
#df_data_tarjeta['DESCRIPCION_MCG'].isnull().values.any()
#df_data_tarjeta['DESCRIPCION_MCG'].value_counts()

In [19]:
df_data_tarjeta.isna().sum()

C_RN                  0
CL_RN                 0
LIM_CREDITO           0
FEC_COSECHA           0
ESTADO_CIVIL          0
METAL_TJT             0
FECHA_NACIMIENTO    386
PAGO_CONTADO          0
TIPO_RUBRO            0
FECHA_REAL_MOV        0
COD_MORA              0
MONTO_TRX           163
MONEDA_TRX          163
TASA_TRX            163
dtype: int64

### Eliminar columnas

Datos transaccionales

In [20]:
df_data_tarjeta = df_data_tarjeta[df_data_tarjeta['MONTO_TRX'].notna()]
df_data_tarjeta = df_data_tarjeta[df_data_tarjeta['MONEDA_TRX'].notna()]
df_data_tarjeta = df_data_tarjeta[df_data_tarjeta['TASA_TRX'].notna()]

Datos de Catalogo MCG

In [21]:
df_data_mcg = df_data_mcg[df_data_mcg['DESC_MCC'].notna()]
df_data_mcg = df_data_mcg[df_data_mcg['DESCRIPCION_MCG'].notna()]

Identificadores criticos

In [22]:
#Numero de cuenta
df_data_tarjeta = df_data_tarjeta[df_data_tarjeta['C_RN'].notna()]

#Codigo de cliente
df_data_tarjeta = df_data_tarjeta[df_data_tarjeta['CL_RN'].notna()]

In [23]:
df_data_tarjeta[df_data_tarjeta['C_RN']==4285].head(1000)

,C_RN,CL_RN,LIM_CREDITO,FEC_COSECHA,ESTADO_CIVIL,METAL_TJT,FECHA_NACIMIENTO,PAGO_CONTADO,TIPO_RUBRO,FECHA_REAL_MOV,COD_MORA,MONTO_TRX,MONEDA_TRX,TASA_TRX
1326,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5541,13/5/2022 21:14,0,567.76,320,7.66517
1327,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,3001,29/4/2022 20:39,0,33.32,840,7.66517
1330,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,3001,29/4/2022 20:31,0,177.57,840,7.66517
1331,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5300,29/4/2022 19:01,0,8758.20,320,7.66517
1332,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5814,30/4/2022 10:07,0,22.00,320,7.66517
1333,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5814,30/4/2022 07:15,0,60.00,320,7.66517
1338,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5814,1/5/2022 18:19,0,8.00,840,7.66517
1339,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,4121,1/5/2022 21:11,0,11.91,840,7.66517
1340,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,4121,1/5/2022 22:24,0,11.98,840,7.66517
1341,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,4121,1/5/2022 20:20,0,29.22,840,7.66517
1342,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5541,1/5/2022 17:02,0,662.41,320,7.66517
1343,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5912,30/4/2022 21:11,0,1008.19,320,7.66517
1344,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5814,1/5/2022 15:19,0,55.00,320,7.66517
1345,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5814,1/5/2022 13:25,0,601.00,320,7.66517
1346,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5814,30/4/2022 15:45,0,28.00,320,7.66517
1347,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5814,30/4/2022 19:13,0,110.00,320,7.66517
1348,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5814,1/5/2022 19:30,0,51.00,320,7.66517
1352,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,4121,2/5/2022 17:06,0,7.26,840,7.66517
1353,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,4121,2/5/2022 11:10,0,7.26,840,7.66517
1354,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,4121,2/5/2022 10:05,0,36.99,840,7.66517
1355,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,3562,2/5/2022 10:47,0,250.00,840,7.66517
1356,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,7523,1/5/2022 19:17,0,20.00,320,7.66517
1357,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,7338,2/5/2022 12:20,0,9.75,320,7.66517
1358,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,8220,2/5/2022 12:04,0,96.00,320,7.66517
1359,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5814,2/5/2022 18:30,0,15.54,840,7.66517
1360,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5814,2/5/2022 13:11,0,88.00,320,7.66517
1367,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,4121,3/5/2022 11:47,0,15.90,840,7.66517
1368,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5411,2/5/2022 20:02,0,99.70,840,7.66517
1369,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5814,3/5/2022 09:19,0,35.00,320,7.66517
1370,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,7338,3/5/2022 09:59,0,17.75,320,7.66517
1371,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,4121,2/5/2022 13:49,0,7.26,840,7.66517
1372,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,4121,2/5/2022 17:42,0,16.99,840,7.66517
1373,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,4121,3/5/2022 08:02,0,12.95,840,7.66517
1374,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,4121,2/5/2022 20:09,0,19.99,840,7.66517
1375,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,4121,2/5/2022 22:00,0,7.26,840,7.66517
1376,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5631,4/5/2022 18:54,0,106.86,840,7.66517
1377,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,4121,4/5/2022 11:44,0,39.20,840,7.66517
1378,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5814,4/5/2022 21:43,0,32.00,320,7.66517
1379,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5963,3/5/2022 14:11,0,165.00,320,7.66517
1380,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5814,3/5/2022 18:24,0,90.00,320,7.66517
1381,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,4121,4/5/2022 15:16,0,18.96,840,7.66517
1382,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,4121,3/5/2022 16:53,0,16.81,840,7.66517
1389,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,4121,5/5/2022 11:12,0,11.98,840,7.66517
1390,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5812,3/5/2022 12:49,0,38.95,840,7.66517
1391,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5812,4/5/2022 15:37,0,200.00,320,7.66517
1399,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,4121,5/5/2022 18:02,0,12.98,840,7.66517
1400,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,4121,5/5/2022 12:32,0,17.90,840,7.66517
1401,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5814,5/5/2022 17:46,0,5.30,840,7.66517
1403,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,3770,6/5/2022 09:39,0,144.58,840,7.66517
1407,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,4121,6/5/2022 21:52,0,20.28,840,7.66517
1408,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,4121,6/5/2022 21:10,0,7.26,840,7.66517
1409,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5812,5/5/2022 17:39,0,76.08,840,7.66517
1410,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5912,6/5/2022 21:46,0,92.33,840,7.66517
1411,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,4121,6/5/2022 14:23,0,29.96,840,7.66517
1412,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5814,6/5/2022 13:03,0,65.00,320,7.66517
1413,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5251,6/5/2022 13:41,0,124.00,320,7.66517
1417,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,4121,4/5/2022 13:16,0,17.96,840,7.66517
1418,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,4121,4/5/2022 20:07,0,13.96,840,7.66517
1419,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5691,5/5/2022 16:45,0,401.25,840,7.66517
1420,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,7538,5/5/2022 15:18,0,75.00,320,7.66517
1421,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5814,5/5/2022 14:27,0,122.00,320,7.66517
1422,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5999,5/5/2022 14:51,0,386.27,840,7.66517
1423,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5814,5/5/2022 10:30,0,88.00,320,7.66517
1424,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,4121,6/5/2022 18:18,0,19.35,840,7.66517
1442,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5200,7/5/2022 13:00,0,200.00,320,7.66517
1443,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5963,7/5/2022 15:13,0,20.00,320,7.66517
1444,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,4121,7/5/2022 11:11,0,8.95,840,7.66517
1445,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5963,7/5/2022 15:11,0,26.00,320,7.66517
1446,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,4121,6/5/2022 12:13,0,13.98,840,7.66517
1447,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5814,8/5/2022 12:19,0,403.70,320,7.66517
1448,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5541,7/5/2022 13:47,0,802.35,320,7.66517
1449,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,4121,8/5/2022 00:01,0,11.71,840,7.66517
1460,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5814,9/5/2022 11:25,0,26.00,320,7.66517
13854,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,7523,9/5/2022 16:28,0,10.00,320,7.66517
13855,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5963,10/5/2022 11:12,0,133.00,320,7.66517
13856,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5541,9/5/2022 09:33,0,200.00,320,7.66517
13857,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5812,9/5/2022 16:09,0,232.10,320,7.66517
13858,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5963,10/5/2022 08:12,0,742.00,320,7.66517
13867,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,4121,10/5/2022 11:58,0,4.66,840,7.66517
13868,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5462,10/5/2022 12:24,0,65.00,320,7.66517
13869,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,7523,10/5/2022 10:29,0,15.00,320,7.66517
13870,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5812,10/5/2022 13:25,0,467.00,320,7.66517
13871,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5814,11/5/2022 15:07,0,72.00,320,7.66517
13872,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5462,11/5/2022 10:06,0,215.00,320,7.66517
13877,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5814,12/5/2022 10:42,0,48.00,320,7.66517
13878,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,7523,11/5/2022 14:58,0,15.00,320,7.66517
13879,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,7999,11/5/2022 16:12,0,3975.00,320,7.66517
13880,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5814,12/5/2022 14:24,0,204.00,320,7.66517
13884,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,7230,13/5/2022 11:50,0,240.00,320,7.66517
13885,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,8220,12/5/2022 09:10,0,8293.28,320,7.66517
13886,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5814,13/5/2022 08:35,0,35.00,320,7.66517
13887,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5411,13/5/2022 17:16,0,573.95,320,7.66517
13888,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5814,13/5/2022 21:22,0,164.00,320,7.66517
13889,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5311,13/5/2022 19:53,0,368.00,320,7.66517
13890,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5992,13/5/2022 17:38,0,175.00,320,7.66517
13891,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5814,13/5/2022 14:51,0,53.00,320,7.66517
13892,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,7523,13/5/2022 17:29,0,10.00,320,7.66517
13893,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5200,13/5/2022 16:32,0,1733.72,320,7.66517
13894,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,5411,13/5/2022 18:10,0,28.00,320,7.66517
68530,4285,8800,160000.0,11/3/2014,C,INFINITE,9/10/1970,N,6513,13/5/2022 20:03,0,10.00,320,7.66517

### Convertir Tipos de datos

In [24]:
#Fechas
df_data_tarjeta = df_data_tarjeta.astype({"FECHA_REAL_MOV":"datetime64[ns]","FECHA_NACIMIENTO":"datetime64[ns]","FEC_COSECHA":"datetime64[ns]"})

#Daatos Transaccionales
df_data_tarjeta = df_data_tarjeta.astype({"MONTO_TRX":"float64","MONEDA_TRX":"int64","TASA_TRX":"float64"})

In [25]:
fn_descripcion_dataFrame(df_data_tarjeta)
df_data_tarjeta.head()

Dimensiones dataframe:  (99837, 14)

C_RN                         int64
CL_RN                        int64
LIM_CREDITO                float64
FEC_COSECHA         datetime64[ns]
ESTADO_CIVIL                object
METAL_TJT                   object
FECHA_NACIMIENTO    datetime64[ns]
PAGO_CONTADO                object
TIPO_RUBRO                   int64
FECHA_REAL_MOV      datetime64[ns]
COD_MORA                     int64
MONTO_TRX                  float64
MONEDA_TRX                   int64
TASA_TRX                   float64
dtype: object

,C_RN,CL_RN,LIM_CREDITO,FEC_COSECHA,ESTADO_CIVIL,METAL_TJT,FECHA_NACIMIENTO,PAGO_CONTADO,TIPO_RUBRO,FECHA_REAL_MOV,COD_MORA,MONTO_TRX,MONEDA_TRX,TASA_TRX
0,8521,10578,16496.0,2020-11-26,S,PLATINUM,1990-05-21,S,4789,2022-04-30 04:51:00,0,10.91,840,7.66517
1,8521,10578,16496.0,2020-11-26,S,PLATINUM,1990-05-21,S,7991,2022-04-30 07:14:00,0,4.31,840,7.66517
2,8521,10578,16496.0,2020-11-26,S,PLATINUM,1990-05-21,S,5814,2022-04-30 09:35:00,0,4.80,840,7.66517
3,8521,10578,16496.0,2020-11-26,S,PLATINUM,1990-05-21,S,5814,2022-04-30 09:51:00,0,2.95,840,7.66517
4,8521,10578,16496.0,2020-11-26,S,PLATINUM,1990-05-21,S,5814,2022-04-30 00:29:00,0,7.10,840,7.66517

Conversion de indicador de prioridad de METAL

In [26]:
#Convertir indicador para modelo
df_prioridad_metal = df_prioridad_metal.astype({"IND_PRIORIDAD":"int64"})

In [27]:
fn_descripcion_dataFrame(df_prioridad_metal)
df_prioridad_metal.head()

Dimensiones dataframe:  (6, 2)

METAL_TJT        object
IND_PRIORIDAD     int64
dtype: object

   METAL_TJT  IND_PRIORIDAD
0      BLACK              1
1   INFINITE              2
2  SIGNATURE              3
3   PLATINUM              4
4        ORO              5

### Nuevas variables

Edad

In [28]:
now = pd.Timestamp('now')
df_data_tarjeta['Edad']=(now-df_data_tarjeta['FECHA_NACIMIENTO']).astype('<m8[Y]')

Estado Civil

In [29]:
#Simplificar Casados y Unidos = Casad@ de lo contrario Solter@
df_data_tarjeta["ESTADO_CIVIL"] = np.where(((df_data_tarjeta["ESTADO_CIVIL"] =='U')|(df_data_tarjeta["ESTADO_CIVIL"] =='C')), 'C', 'S')

In [30]:
df_data_tarjeta['ESTADO_CIVIL'].unique()

array(['S', 'C'], dtype=object)

Se adiciona el agrupador de comercio

In [31]:
df_data_tarjeta=(pd.merge(df_data_tarjeta, df_data_mcg[['TIPO_RUBRO','DESCRIPCION_MCG']], left_on='TIPO_RUBRO', right_on='TIPO_RUBRO'))

In [32]:
df_data_tarjeta[['C_RN','CL_RN','TIPO_RUBRO','DESCRIPCION_MCG']].head(3)

   C_RN  CL_RN  TIPO_RUBRO DESCRIPCION_MCG
0  8521  10578        4789      TRANSPORTE
1  7039   4258        4789      TRANSPORTE
2  9266   4258        4789      TRANSPORTE

In [33]:
df_data_tarjeta=(pd.merge(df_data_tarjeta, df_prioridad_metal, left_on='METAL_TJT', right_on='METAL_TJT'))

In [34]:
df_data_tarjeta[['C_RN','CL_RN','METAL_TJT','IND_PRIORIDAD']].head(3)

   C_RN  CL_RN METAL_TJT  IND_PRIORIDAD
0  8521  10578  PLATINUM              4
1  2321   7724  PLATINUM              4
2  2757  10459  PLATINUM              4

Valor dolarizado de la transaccion, donde VISA envia en moneda loca y extranjera (distinta al dolar) convierte automaticamente a dolares.

In [35]:
#Dolarizamos en base al atributo de tasa de cambio, donde 320 es quetzales y 840 es dolares
df_data_tarjeta['MONTO_DOLAR']=np.where(df_data_tarjeta['MONEDA_TRX']== 320, round((df_data_tarjeta['MONTO_TRX']/df_data_tarjeta['TASA_TRX']),2), round(df_data_tarjeta['MONTO_TRX'],2))

In [36]:
df_data_tarjeta[['C_RN','CL_RN','MONTO_TRX','MONEDA_TRX','TASA_TRX','MONTO_DOLAR']].head(3)

   C_RN  CL_RN  MONTO_TRX  MONEDA_TRX  TASA_TRX  MONTO_DOLAR
0  8521  10578      10.91         840   7.66517        10.91
1  2321   7724      94.50         320   7.66517        12.33
2  2757  10459     105.50         320   7.66517        13.76

Año cosecha

In [37]:
df_data_tarjeta['ANIO_COSECHA']=df_data_tarjeta['FEC_COSECHA'].dt.year

Se valida que no existan **valores perdidos**

In [38]:
df_data_tarjeta.isna().sum()

C_RN                  0
CL_RN                 0
LIM_CREDITO           0
FEC_COSECHA           0
ESTADO_CIVIL          0
METAL_TJT             0
FECHA_NACIMIENTO    368
PAGO_CONTADO          0
TIPO_RUBRO            0
FECHA_REAL_MOV        0
COD_MORA              0
MONTO_TRX             0
MONEDA_TRX            0
TASA_TRX              0
Edad                368
DESCRIPCION_MCG       0
IND_PRIORIDAD         0
MONTO_DOLAR           0
ANIO_COSECHA          0
dtype: int64

In [39]:
fn_descripcion_dataFrame(df_data_tarjeta)
df_data_tarjeta.head()

Dimensiones dataframe:  (96986, 19)

C_RN                         int64
CL_RN                        int64
LIM_CREDITO                float64
FEC_COSECHA         datetime64[ns]
ESTADO_CIVIL                object
METAL_TJT                   object
FECHA_NACIMIENTO    datetime64[ns]
PAGO_CONTADO                object
TIPO_RUBRO                   int64
FECHA_REAL_MOV      datetime64[ns]
COD_MORA                     int64
MONTO_TRX                  float64
MONEDA_TRX                   int64
TASA_TRX                   float64
Edad                       float64
DESCRIPCION_MCG             object
IND_PRIORIDAD                int64
MONTO_DOLAR                float64
ANIO_COSECHA                 int64
dtype: object

,C_RN,CL_RN,LIM_CREDITO,FEC_COSECHA,ESTADO_CIVIL,METAL_TJT,FECHA_NACIMIENTO,PAGO_CONTADO,TIPO_RUBRO,FECHA_REAL_MOV,COD_MORA,MONTO_TRX,MONEDA_TRX,TASA_TRX,Edad,DESCRIPCION_MCG,IND_PRIORIDAD,MONTO_DOLAR,ANIO_COSECHA
0,8521,10578,16496.0,2020-11-26,S,PLATINUM,1990-05-21,S,4789,2022-04-30 04:51:00,0,10.91,840,7.66517,32.0,TRANSPORTE,4,10.91,2020
1,2321,7724,63400.0,2004-12-14,S,PLATINUM,1968-09-09,S,4789,2022-05-05 10:25:00,0,94.50,320,7.66517,53.0,TRANSPORTE,4,12.33,2004
2,2757,10459,83200.0,2002-10-17,C,PLATINUM,1959-01-22,S,4789,2022-11-05 09:56:00,0,105.50,320,7.66517,63.0,TRANSPORTE,4,13.76,2002
3,6214,5866,15600.0,2019-02-15,S,PLATINUM,1990-03-02,N,4789,2022-10-05 19:59:00,0,130.40,320,7.66517,32.0,TRANSPORTE,4,17.01,2019
4,6097,10332,40000.0,2019-01-28,S,PLATINUM,1989-06-22,N,4789,2022-09-05 11:58:00,0,305.64,320,7.66517,33.0,TRANSPORTE,4,39.87,2019

## Reconstruccion

#### Fecha

In [40]:
#Obtener la edad promedio por metal y asignar, las politicas del banco regulan el otorgar el plastico en base a la edad o record crediticio.
df_edad_metal=df_data_tarjeta.drop_duplicates(['Edad','METAL_TJT'])[['Edad','METAL_TJT']]
#Eliiminamos las observaciones que necesitamos reconstruir
df_edad_metal = df_edad_metal[df_edad_metal['Edad'].notna()]
#Obtener la edad Promedio por metal
df_edad_metal=df_edad_metal.groupby("METAL_TJT", as_index=False).agg({"Edad":"mean"})
df_edad_metal['Edad']=round(df_edad_metal['Edad'],0)
df_edad_metal.rename(columns={'Edad':'Edad_promedio'},inplace=True)
df_edad_metal

   METAL_TJT  Edad_promedio
0      BLACK           50.0
1    CLASICA           55.0
2   INFINITE           56.0
3        ORO           55.0
4   PLATINUM           54.0
5  SIGNATURE           57.0

Reemplazar los valores nulos por Edad Promedio

In [41]:
d_ex=df_data_tarjeta#[df_data_tarjeta['Edad'].isna()].head()
df_data_tarjeta=(pd.merge(df_data_tarjeta, df_edad_metal, left_on='METAL_TJT', right_on='METAL_TJT'))
df_data_tarjeta ['Edad'] =np.where(df_data_tarjeta['Edad'].isna(), df_data_tarjeta['Edad_promedio'], df_data_tarjeta['Edad'])
del df_data_tarjeta['Edad_promedio']
del df_data_tarjeta['FECHA_NACIMIENTO']
df_data_tarjeta.isna().sum()

C_RN               0
CL_RN              0
LIM_CREDITO        0
FEC_COSECHA        0
ESTADO_CIVIL       0
METAL_TJT          0
PAGO_CONTADO       0
TIPO_RUBRO         0
FECHA_REAL_MOV     0
COD_MORA           0
MONTO_TRX          0
MONEDA_TRX         0
TASA_TRX           0
Edad               0
DESCRIPCION_MCG    0
IND_PRIORIDAD      0
MONTO_DOLAR        0
ANIO_COSECHA       0
dtype: int64

In [42]:
df_data_tarjeta.head()

,C_RN,CL_RN,LIM_CREDITO,FEC_COSECHA,ESTADO_CIVIL,METAL_TJT,PAGO_CONTADO,TIPO_RUBRO,FECHA_REAL_MOV,COD_MORA,MONTO_TRX,MONEDA_TRX,TASA_TRX,Edad,DESCRIPCION_MCG,IND_PRIORIDAD,MONTO_DOLAR,ANIO_COSECHA
0,8521,10578,16496.0,2020-11-26,S,PLATINUM,S,4789,2022-04-30 04:51:00,0,10.91,840,7.66517,32.0,TRANSPORTE,4,10.91,2020
1,2321,7724,63400.0,2004-12-14,S,PLATINUM,S,4789,2022-05-05 10:25:00,0,94.50,320,7.66517,53.0,TRANSPORTE,4,12.33,2004
2,2757,10459,83200.0,2002-10-17,C,PLATINUM,S,4789,2022-11-05 09:56:00,0,105.50,320,7.66517,63.0,TRANSPORTE,4,13.76,2002
3,6214,5866,15600.0,2019-02-15,S,PLATINUM,N,4789,2022-10-05 19:59:00,0,130.40,320,7.66517,32.0,TRANSPORTE,4,17.01,2019
4,6097,10332,40000.0,2019-01-28,S,PLATINUM,N,4789,2022-09-05 11:58:00,0,305.64,320,7.66517,33.0,TRANSPORTE,4,39.87,2019

# Modelado de Datos

Obtener los montos por transaccion de los clientes

In [43]:
#df_agrupado_metal=df_data_tarjeta.groupby("METAL_TJT", as_index=False).agg({"Edad":"mean"})
resumen_categorias_top=df_data_tarjeta.groupby(['C_RN','DESCRIPCION_MCG'])[["MONTO_DOLAR"]].sum()

resumen_categorias_top.reset_index(drop=False,inplace=True)
resumen_categorias_top.head()

   C_RN DESCRIPCION_MCG  MONTO_DOLAR
0     1     GASOLINERAS        13.05
1     1    RESTAURANTES        42.23
2     1   SUPERMERCADOS        79.93
3     2    CONSTRUCCIÓN        51.66
4     2     GASOLINERAS        26.09

Analisis de cuantos **comercios distintos** en promedio presenta la poblacion

In [44]:
df_agrupado_por_comercio=resumen_categorias_top.groupby("C_RN", as_index=False).agg({"DESCRIPCION_MCG":"count"})
df_agrupado_por_comercio['DESCRIPCION_MCG'].describe()

count    12387.000000
mean         3.772746
std          2.985963
min          1.000000
25%          1.000000
50%          3.000000
75%          5.000000
max         24.000000
Name: DESCRIPCION_MCG, dtype: float64

Se determina implementar unicamente el comercio con mayor consumo del top 3 que se calculara debibo a la volumetria de transacciones.

In [45]:
resumen_categorias_cliente=df_data_tarjeta.groupby(['CL_RN','DESCRIPCION_MCG'])[["MONTO_DOLAR"]].sum()
resumen_categorias_cliente.reset_index(drop=False,inplace=True)
resumen_categorias_cliente.head()

   CL_RN                        DESCRIPCION_MCG  MONTO_DOLAR
0      1       ARTÍCULOS Y SERVICIOS PERSONALES        52.84
1      2  ACCESORIOS Y SERVICIOS DE INFORMÁTICA        27.98
2      2                       COMIDA/ABARROTES        15.00
3      2                              EDUCACIÓN        18.07
4      2              ENTRETENIMIENTO - PARQUES        39.01

Pivot de informacion

In [46]:
df_consumos_pivot = resumen_categorias_cliente.pivot(index="CL_RN", columns="DESCRIPCION_MCG", values="MONTO_DOLAR")\
       .reset_index().rename_axis(None, axis=1)
df_consumos_pivot=df_consumos_pivot.fillna('0')
df_consumos_pivot.set_index("CL_RN", inplace = True)

In [47]:
scaler = MinMaxScaler()
scaled_features = scaler.fit_transform(df_consumos_pivot.values)
df_consumos_pivot = pd.DataFrame(scaled_features, index=df_consumos_pivot.index, columns=df_consumos_pivot.columns)

In [48]:
df_consumos_pivot.reset_index(drop=False,inplace=True)
df_consumos_pivot.head()

,CL_RN,ACCESORIOS Y SERVICIOS DE INFORMÁTICA,AEROLÍNEAS,ALOJAMIENTO,ALQUILER DE AUTOS,ALTO RIESGO,ARTE,ARTÍCULOS DE ESPECIALIDAD,ARTÍCULOS PARA EL HOGAR,ARTÍCULOS Y SERVICIOS PERSONALES,AUTOMOTRIZ,COMIDA/ABARROTES,CONSTRUCCIÓN,EDUCACIÓN,ELECTRÓNICA,ENTREGA/ALMACENAJE/MUDANZAS,ENTRETENIMIENTO,ENTRETENIMIENTO - DEPORTES,ENTRETENIMIENTO - PARQUES,EQUIPOS,GASOLINERAS,GASTOS DE VIAJE,GASTOS LEGALES,GOBIERNO,JOYERÍAS,JUGUETERÍAS,LIBROS-PERIÓDICOS,MASCOTAS/ANIMALES DOMÉSTICOS,MATERIALES/EQUIPOS DE OFICINA,MAYORISTAS,MEDICINA,MERCANCÍA GENERAL,ORGANISMOS,OTROS BIENES Y SERVICIOS,PASATIEMPOS,PLANTAS,QUÍMICOS/PETRÓLEO,RECURRENTES,REGALOS,REPARACIONES,RESTAURANTES,ROPA/ACCESORIOS,ROPA/ACCESORIOS - COMERCIAL,SERVICIOS DE LIMPIEZA,SERVICIOS FINANCIEROS,SUPERMERCADOS,TELECOMUNICACIONES,TIENDAS/ALMACENES DEPARTAMENTALES,TRANSPORTE,VENTAS EN AMBIENTES DE TARJETA AUSENTE
0,1,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.017893,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2,0.010025,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.009043,0.0,0.001355,0.0,0.0,0.0,0.0,0.014307,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.004687,0.0,0.0,0.0,0.006075,0.002260,0.000492,0.000000,0.000000,0.000000
2,3,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.003605,0.001743,0.0,0.025635,0.0,0.0,0.0,0.0,0.0,0.0,0.001451,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.013757,0.000000
3,4,0.004629,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.003196,0.0,0.0,0.0,0.0,0.0,0.00507,0.0,0.0,0.0,0.000000,0.005390,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.011498,0.0,0.0,0.0,0.000000,0.020538,0.000000,0.001795,0.021613,0.042212
4,5,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.002230,0.000000,0.000000,0.000000,0.000000

### Ponderar de forma descendente

In [49]:
num_top = 3
indicators = ['ER', 'DO', 'ER']

# crear las columnas acorde al numero de grupos de comercios con mayor consumo
columnas = ['CL_RN']
for ind in np.arange(num_top):
    try:
        columnas.append('{}{}_MCG'.format(ind+1, indicators[ind]))
    except:
        columnas.append('{}th MCG'.format(ind+1))
        

df_clientes_mcg_ordenado = pd.DataFrame(columns=columnas)
df_clientes_mcg_ordenado['CL_RN'] = df_consumos_pivot['CL_RN']

for ind in np.arange(df_consumos_pivot.shape[0]):
    w_rank=    retornat_top_mcg(df_consumos_pivot.iloc[ind, 1:], num_top)   
    df_clientes_mcg_ordenado.iloc[ind, 1:] =w_rank
    

df_clientes_mcg_ordenado.head()

,CL_RN,1ER_MCG,2DO_MCG,3ER_MCG
0,1,ARTÍCULOS Y SERVICIOS PERSONALES,AEROLÍNEAS,REGALOS
1,2,ENTRETENIMIENTO - PARQUES,COMIDA/ABARROTES,SERVICIOS FINANCIEROS
2,3,OTROS BIENES Y SERVICIOS,TRANSPORTE,MEDICINA
3,4,VENTAS EN AMBIENTES DE TARJETA AUSENTE,TRANSPORTE,SUPERMERCADOS
4,5,SUPERMERCADOS,AEROLÍNEAS,RECURRENTES

In [50]:
#df_clientes_mcg_ordenado.head()
df_clientes_mcg_ordenado=df_clientes_mcg_ordenado[['CL_RN','1ER_MCG']]
df_clientes_mcg_ordenado.rename(columns={'1ER_MCG':'COMERCIO_CON_MAS_CONSUMO'},inplace=True)
df_clientes_mcg_ordenado.head()

   CL_RN                COMERCIO_CON_MAS_CONSUMO
0      1        ARTÍCULOS Y SERVICIOS PERSONALES
1      2               ENTRETENIMIENTO - PARQUES
2      3                OTROS BIENES Y SERVICIOS
3      4  VENTAS EN AMBIENTES DE TARJETA AUSENTE
4      5                           SUPERMERCADOS

### Variables por cliente

Se obtiene las variables por clientes, con los siguiente cristerior: 
*1.* ponderando el pago de contado coomo N contagiando los registros del cliente durante el perioro evaluado.
*2.* Obtenemos la maxima categoria obtenida por cliente entre tu cartera de cartejas.

In [51]:
df_rsm_cliente=df_data_tarjeta.groupby(['CL_RN','LIM_CREDITO','ANIO_COSECHA','COD_MORA','Edad']).agg(PAGO_CONTADO=('PAGO_CONTADO',min),METAL_TJT=('IND_PRIORIDAD',max))
df_rsm_cliente.reset_index(drop=False,inplace=True)
df_rsm_cliente.head()

   CL_RN  LIM_CREDITO  ANIO_COSECHA  COD_MORA  Edad PAGO_CONTADO  METAL_TJT
0      1      10000.0          2017         0  38.0            S          5
1      2      20120.0          2021         0  32.0            N          5
2      3      23400.0          2018         0  34.0            N          4
3      4      24960.0          2010         0  34.0            N          5
4      4      36400.0          2017         0  34.0            N          4

### Rangos de edades

In [52]:
df_data_df_rango_edad.head()

   COD_RANGO_EDAD                  DES_RANGO_EDAD  RANGO_INI  RANGO_FIN
0               0  0. No aplica                        -9999          0
1               1  01. Menor igual a 22                    1         22
2               2  02. Igual a 23                         23         23
3               3  03. Igual a 24                         24         24
4               4  04. Entre 25 y 30                      25         30

In [53]:
a_pivot = df_rsm_cliente['Edad'].values
bl_max = df_data_df_rango_edad['RANGO_FIN'].values
bl_min = df_data_df_rango_edad['RANGO_INI'].values
i, j = np.where((a_pivot[:, None] >= bl_min) & (a_pivot[:, None] <=bl_max))

Integrar rango de fechas **between**

In [54]:
#LEFT JOIN 
#Tip: .append en adelante
df_left_join=pd.concat([
    df_rsm_cliente.loc[i, :].reset_index(drop=True),
    df_data_df_rango_edad.loc[j, :].reset_index(drop=True)
], axis=1).append(
    df_rsm_cliente[~np.in1d(np.arange(len(df_rsm_cliente)), np.unique(i))],
    ignore_index=True, sort=False
)

In [55]:
df_cliente=(pd.merge(df_clientes_mcg_ordenado, df_left_join[['CL_RN','LIM_CREDITO','ANIO_COSECHA','COD_MORA','PAGO_CONTADO','METAL_TJT','COD_RANGO_EDAD']], left_on='CL_RN', right_on='CL_RN'))
fn_descripcion_dataFrame(df_cliente)
print('\nValidamos campos perdidos.')
df_cliente.isna().sum()

Dimensiones dataframe:  (12541, 8)

CL_RN                         int64
COMERCIO_CON_MAS_CONSUMO     object
LIM_CREDITO                 float64
ANIO_COSECHA                  int64
COD_MORA                      int64
PAGO_CONTADO                 object
METAL_TJT                     int64
COD_RANGO_EDAD              float64
dtype: object

Validamos campos perdidos.

CL_RN                       0
COMERCIO_CON_MAS_CONSUMO    0
LIM_CREDITO                 0
ANIO_COSECHA                0
COD_MORA                    0
PAGO_CONTADO                0
METAL_TJT                   0
COD_RANGO_EDAD              0
dtype: int64

In [56]:
df_cliente.head()

,CL_RN,COMERCIO_CON_MAS_CONSUMO,LIM_CREDITO,ANIO_COSECHA,COD_MORA,PAGO_CONTADO,METAL_TJT,COD_RANGO_EDAD
0,1,ARTÍCULOS Y SERVICIOS PERSONALES,10000.0,2017,0,S,5,6.0
1,2,ENTRETENIMIENTO - PARQUES,20120.0,2021,0,N,5,5.0
2,3,OTROS BIENES Y SERVICIOS,23400.0,2018,0,N,4,5.0
3,4,VENTAS EN AMBIENTES DE TARJETA AUSENTE,24960.0,2010,0,N,5,5.0
4,4,VENTAS EN AMBIENTES DE TARJETA AUSENTE,36400.0,2017,0,N,4,5.0

### Guardar dataframe to CSV

In [62]:
 df_cliente.to_csv('Data\DF_Data_depurada.csv', index=False)